@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #B2DAEF;
}

img {
    image-rendering: pixelated;
}

@font-face {
    font-family: 'retro';
    src: url('/retro.woff') format('woff');
  }

.retro {
    font-family: 'Retro', sans-serif;
}

a {
  color: lightpink;
  text-decoration: underline;
}

a:hover {
  color: white;
}

@keyframes bobble {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.bobble {
  animation: bobble 1.5s infinite ease-in-out;
}